.card {
  transition: all 0.2s ease-in-out;
  // border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none;

  &:hover {
    cursor: pointer;
    background-color: #fff;
  }

  a {
    height: 100%;
  }
  &.MuiPaper-root.MuiCard-root {
    box-shadow: none;
    border-radius: 5px;
  }
  .MuiCardActionArea-root {
    display: flex;
    justify-content: space-between;

    &:hover {
      opacity: 1;
    }

    .divider {
      padding: 0 15px;

      .MuiSvgIcon-root {
        font-size: 1rem;
        color: var(--light-blue) !important;
      }
    }
  }

  .MuiCardHeader-content {
    text-align: left !important;

    .MuiTypography-body2 {
      &:nth-of-type(2) {
        font-size: 0.738rem;
        font-weight: 300;
        line-height: 1.1875em;
      }
    }
  }

  .MuiAvatar-root {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .MuiAvatar-img {
    height: auto;
  }
}
