.page-header {
    color: var(--grey);
    flex-grow:4;
    h4 {
      text-transform: uppercase !important;
      font-size: 1.7rem !important;
      font-weight: 600 !important;
    }
    p {
      font-style: italic;
      font-size: 0.775rem;
    }
  
    .MuiTypography-body2 {
      margin-bottom: 0 !important;
    }
  }
  