.post-card {
  transition: all 0.2s ease-in-out;
  box-shadow: none;

  &:hover {
    cursor: pointer;
    background-color: #fff;
  }

  a {
    height: 100%;
  }

  &.owner {
    background-color: var(--secondary-color-analogous-blue);
  }

  &.recipient {
    background-color: var(--secondary-color-analogous-green);
  }


  &.MuiPaper-root.MuiCard-root {
    box-shadow: none;
    border-radius: 5px;
  }
  .MuiCardActionArea-root {
    display: flex;
    justify-content: space-between;

    &:hover {
      opacity: 1;
    }


    
  }

  .MuiCardHeader-content {
    text-align: left !important;

    .MuiTypography-body2 {
      &:nth-of-type(2) {
        font-size: 0.738rem;
        font-weight: 300;
        line-height: 1.1875em;
      }
    }
  }

  .MuiAvatar-root {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .MuiAvatar-img {
    height: auto;
  }
}
